@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --main-color: rgb(21,36,124);
    --secondary-color: rgb(0,188,125);
    --tertiary-color: rgb(0,150,100);
    --cursive-font: 'Cormorant', serif;
}

/* global settings starts */

*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 90%;
    margin: auto;
}

.row{
    width: 100%;
}

button{
    outline: 0;
    border: 0;
    cursor: pointer;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.section{
    padding: 5em 0;
}

.heading{
    text-align: center;
    font-size: 6rem;
    font-weight: 300;
    color: var(--main-color);
    position: relative;
    margin-bottom: 0.3em;
}

.heading::before{
    content: attr(data-title);
    transform: translateY(0.3em);
    display: block;
    font-size: 2rem;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
    font-family: var(--cursive-font);
}

/* global settings ends*/


/* navigation section starts */

.navigation-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navigation-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0 10px 15px -3px rgb(125 59 236 / 10%), 0 4px 6px -2px rgb(125 59 236 / 5%);
    transform: translateY(-100%);
    transition: 0.3s transform ease-out;
}

.navigation-section.sticky::before{
    transform: translateY(0%);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.nav-logo{
    font-size: 1.8rem;
}

.nav-li{
    display: inline-block;
    margin-left: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: 1px solid transparent;
}

.nav-li:hover{
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.nav-a{
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease-out;
}

.nav-toggler{
    display: none;
}


/* navigation section ends */

/* hero section starts */

.hero-section{
    width: 100%;
}

.hero{
    position: relative;
    height: 100vh;
    padding-top: 7em;
}

.hero-bg{
    position: absolute;
    top: 0;
    right: -2em;
    width: 65%;
}

.hero-subheading{
    font-weight: 300;
    margin-bottom: 0.5em;
    word-spacing: 0.3rem;
    font-family: var(--cursive-font);
    font-size: 1.8rem;
    font-weight: 400;
}

.hero-heading{
    font-size: 6rem;
    font-weight: 300;
    line-height: 6rem;
    margin-bottom: 0.3em;
    color: var(--main-color);
}

.hero-mainLine{
    font-size: 1.1rem;
    width: 40%;
    line-height: 2rem;
    word-spacing: 3px;
    margin-bottom: 1.5em;
}

.hero-mainLine span{
    font-weight: 1000;
}

.hero-cta{
    background-color: var(--secondary-color);
    padding: 0.5em 2em;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s color ease-out;
}

.hero-cta:hover{
    background-color: var(--tertiary-color);
    box-shadow: 3px 3px 10px rgba(0,150,100,0.3);
}

/* hero section ends */

/* services section starts */

.services-section{
    background-color: rgb(247,250,252);
}

.services-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    width: 80%;
    margin: 0 auto;
}

.service{
    padding: 2em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgb(125 59 236 / 10%), 0 4px 6px -2px rgb(125 59 236 / 5%);
    border-radius: 5px;
    cursor: pointer;
}

.service:hover{
    border: 2px solid var(--secondary-color);
    box-shadow: 6px 6px 6px rgba(0,150,100,0.1);
    color: var(--secondary-color);
}

.service svg{
    margin-bottom: 1.5rem;
}

/* services section ends */

/* aboutUs section starts */

.aboutUs{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
    margin-bottom: 10em;
}

.aboutUs-img{
    position: absolute;
    top: -1.5em;
    left: -2em;
    width: 60%;
}

.aboutUs-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.aboutUs-title{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.aboutUs-p{
    font-size: 1.1rem;
    line-height: 2rem;
    word-spacing: 3px;
    margin-bottom: 1.5em;
}

.aboutUs-timeline-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUs-timeline{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.aboutUs-timeline::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 86%;
    left: 50%;
    top: 0;
    background-color: var(--main-color);
    transform: translateX(-50%);
}

.aboutUs-timeline-li{
    width: 50%;
    box-shadow: 0 10px 15px -3px rgb(125 59 236 / 10%), 0 4px 6px -2px rgb(125 59 236 / 5%);
    padding: 1.5em;
    position: relative;
    background: linear-gradient(90deg, rgb(37, 77, 220), rgb(53,98,255));
    color: #fff;
}

.aboutUs-timeline-li:last-child{
    margin-bottom: 0;
}

.aboutUs-timeline-li::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.aboutUs-timeline-li:nth-child(odd){
    float: left;
    clear: right;
    border-radius: 20px 0 20px 20px;
    transform: translateX(-20px);
}

.aboutUs-timeline-li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    transform: translate(50%,-50%);
}

.aboutUs-timeline-li:nth-child(even){
    float: right;
    clear: left;
    border-radius: 0 20px 20px 20px;
    transform: translateX(20px);
}

.aboutUs-timeline-li:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    transform: translate(-50%,-50%);
}

.aboutUs-timeline-heading{
    font-size: 2rem;
    margin-bottom: 0.3em;
}

.aboutUs-timeline-p{
    line-height: 2rem;
}

/* aboutUs section ends */

/* contactUs section starts */

.contactUs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url('./Images/contactUs.svg') no-repeat;
    background-position: center;
    background-size: cover; 
    position: relative;
}

.contactUs::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    z-index: 1;
}

.contactUs-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    padding: 3em;
}

.contactUs-title{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.contactUs-p{
    font-size: 1.1rem;
    line-height: 2rem;
    word-spacing: 3px;
    margin-bottom: 1.5em;
}

.contactUs-btn{
    padding: 1em 2em;
    border: 1px solid #000;
    font-size: 1.2rem;
    background-color: #fff;
    transition: background-color 0.3s ease-out;
}

.contactUs-btn:hover{
    background-color: #000;
    color: #fff;
}

.contactUs-form-section{
    width: 100%;
    z-index: 10;
}

.contactUs-form{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 2.5em;
    margin: 0 auto;
    box-shadow: 0 10px 15px -3px rgb(125 59 236 / 10%), 0 4px 6px -2px rgb(125 59 236 / 5%);
}

.contactUs-form-label{
    font-size: 1.3rem;
    margin-bottom: 0.3em;
}

.contactUs-form-input{
    width: 100%;
    height: 3em;
    margin-bottom: 1.5em;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0.5em;
}

.contactUs-form-input-message{
    height: 10em;
}

.contactUs-form-btn{
    background-color: var(--secondary-color);
    padding: 0.5em 2em;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s color ease-out;
    width: 10em;
}

.contactUs-form-btn:hover{
    background-color: var(--tertiary-color);
    box-shadow: 3px 3px 10px rgba(0,150,100,0.3);
}

/* contactUs section ends */

/* footer section starts */

.footer-section{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

footer{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.footer-logo-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-logo{
    margin: 0 auto;
    font-size: 3rem;
}

.footer-social{
    display: flex;
}

.footer-social-icon{
    width: 3.5em;
    margin: 0 0.5em; 
    transition: 0.3s ease-out;
}

.footer-social-icon:hover{
    transform: translateY(-0.5em);
}

.footer-info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-subscribe{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscribe-title{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5em;
    text-align: center;
}

.footer-subscribe-form{
    display: flex;
    height: 3em;
    width: 90%;
}

.footer-subscribe-input{
    height: 100%;
    width: 70%;
    padding: 0.5em;
    font-size: 1.3rem;
}

.footer-subscribe-btn{
    height: 100%;
    background-color: var(--secondary-color);
    padding: 0.5em 2em;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s color ease-out;
    margin-left: 0.2em;
}

.footer-subscribe-btn:hover{
    background-color: var(--tertiary-color);
    box-shadow: 3px 3px 10px rgba(0,150,100,0.3);
}

/* footer section ends */

/* DDA section starts */

.DDA-section{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(38,41,51);
}

.DDA{
    text-align: center;
    color: #fff;
    padding: 1em 0;
}

/* DDA section ends */

/* tablet responsive starts */

@media only screen and (max-width: 768px){

    /* global settings starts */

    .container{
        width: 86%;
    }

    .section{
        padding: 3em 0;
    }
    
    .heading{
        font-size: 4rem;
        margin-bottom: 0.4em;
    }
    
    .heading::before{
        transform: translateY(0.5em);
        font-size: 1.3rem;
        font-weight: 600;
    }
    

    /* global settings ends */

    /* navigation section starts */

    .navigation-section{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: #fff;
        padding: 0.5em 0;
    }

    .nav-section{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--main-color);
        transform: translateY(-100%);
        transition: 0.5s transform ease-out;
    }

    .nav-section.open{
        transform: translateY(0);
    }

    .nav-ul{
        margin: 4em auto;
    }

    .nav-li{
        display: block;
        padding: 1em 1.5em;
        transition: all 0.3s ease-out;
    }

    .nav-li:hover{
        border: 0;
        color: var(--main-color);
    }

    .nav-a{
        color: #fff;
        font-size: 2rem;
        transition: color 0.3s ease-out;
    }

    .nav-toggler{
        width: 50px;
        height: auto;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: flex;
    }
    
    .nav-toggler span{
        width: 100%;
        height: 4px;
        background-color: #000;
        position: relative;
        border-radius: 5px;
        transition: 0.5s ease-out;
    }

    .nav-toggler.active span{
        transform: rotate(45deg);
        background-color: #fff;
    }
    
    .nav-toggler span::before,
    .nav-toggler span::after{
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        border-radius: 5px;
    }
    
    .nav-toggler span::before{
        transform: translateY(-15px);
        width: 65%;
    }

    .nav-toggler.active span::before{
        transform: rotate(-45deg);
        background: transparent;
    }
    
    .nav-toggler span::after{
        transform: translateY(15px);
    }

    .nav-toggler.active span::after{
        transform: rotate(-90deg);
        background-color: #fff;
    }

/* navigation section ends */

/* hero section starts */

    .hero{
        height: auto;
        padding-top: 1.3em;
        display:flex;
        flex-direction: column;
    }

    .hero-info{
    text-align: center;
    margin-bottom: 0.5em;
    }

    .hero-bg{
        position: static;
        width: 100%;
        margin-bottom: 2em;
    }

    .hero-subheading{
        font-size: 1.3rem;
        font-weight: 600;
    }

    .hero-heading{
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-bottom: 0.4em;
    }

    .hero-heading br{
        display: none;
    }

    .hero-mainLine{
        font-size: 1.3rem;
        width: 100%;
    }

    .hero-cta{
        padding: 0.6em 2em;
        font-size: 1.5rem;
        width: 85%;
    }

/* hero section ends */

    .services-content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 0.8em;
        width: 100%;
    }

    .service{
        padding: 1.5em;
        border-radius: 10px;
        font-size: 1rem;
    }

    .service svg{
        margin-bottom: 0.8rem;
    }

/* services section ends */

/* aboutUs section starts */

    .aboutUs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        margin-bottom: 2em;
    }

    .aboutUs-img{
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 2em;
    }

    .aboutUs-container{
        width: 100%;
        text-align: center;
        margin-top: 0em;
    }

    .aboutUs-timeline{
        width: 100%;
        position: static;
    }

    .aboutUs-timeline::before{
        display: none;
    }

    .aboutUs-timeline-li{
        width: 100%;
        margin-bottom: 1em;
    }


    .aboutUs-timeline-li::before{
        display: none;
    }

    .aboutUs-timeline-li:nth-child(odd){
        float: none;
        clear: none;
        border-radius: 30px 0 30px 30px;
        transform: none;
        background: linear-gradient(90deg, rgb(37, 77, 220), rgb(53,98,255));
    }

    .aboutUs-timeline-li:nth-child(odd)::before{
        position: static;
        transform: none;
    }

    .aboutUs-timeline-li:nth-child(even){
        float: none;
        clear: none;
        border-radius: 0px 30px 30px 30px;
        transform: none;
        background: linear-gradient(90deg, rgb(53,98,255), rgb(37, 77, 220));
    }

    .aboutUs-timeline-li:nth-child(even)::before{
        position: static;
        transform: none;
    }

    .aboutUs-timeline-heading{
        margin-bottom: 0.1em;
    }

    .aboutUs-timeline-p{
        line-height: 1.5rem;
    }

/* aboutUs section ends */


/* contactUs section starts */

    .contactUs{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
        background: none;
        position: static;
        margin-bottom: 3em;
    }

    .contactUs::before{
        display: none;
    }

    .contactUs-info{
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .contactUs-p{
        font-size: 1.1rem;
    }

    .contactUs-btn{
        width: 100%;
    }

    .contactUs-form{
        width: 100%;
        padding: 2em 1em;
    }

    .contactUs-form-input{
        height: 2.5em;
        line-height: 2rem;
        padding: 0.5em;
    }

    .contactUs-form-input-message{
        height: 10em;
    }

    .contactUs-form-btn{
        width: 100%;
    }

/* contactUs section ends */

/* footer section starts */

    footer{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4em;
    }

    .footer-logo{
        margin-bottom: 0.5em;
        font-size: 2.3rem;
    }

    .footer-social-icon{
        width: 4.5em;
        margin: 0 0.1em; 
    }

    .footer-subscribe-title{
        font-size: 1.5rem;
        margin-bottom: 1em;
    }

    .footer-subscribe-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .footer-subscribe-input{
        width: 100%;
        margin-bottom: 0.5em;
    }

    .footer-subscribe-btn{
        width: 85%;
        margin-left: 0;
    }

/* footer section ends */

/* DDA section starts */

    .DDA-section{
        padding: 0;
    }

    .DDA{
        padding: 1em 0;
    }

/* DDA section ends */

}

/* tablet responsive ends */